name: github actions cicd pipelines

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: echo
        run: echo "testing"
      - name: checkout
        uses: actions/checkout@v6  
      - name: installing java 17
        uses: actions/setup-java@v5
        with:
          distribution: 'corretto' # See 'Supported distributions' for available options
          java-version: '17'
      - run: java HelloWorldApp.java  
      - run: java -version