name: github actions cicd

on: 
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-java@v5
        with:
          distribution: 'corretto' # See 'Supported distributions' for available options
          java-version: '21'
      - name: checking java version
        run: java -version    
      - name: build with maven
        run: mvn -B package --file pom.xml  
         

