name: github actions cicd

on: 
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v5
      - name: java setup
        uses: actions/setup-java@v5
        with:
          distribution: 'corretto' # See 'Supported distributions' for available options
          java-version: '21'
      - name: checking java version
        run: java -version    
      - name: build with maven
        run: mvn compile  

  trivy:
    runs-on: ubuntu-latest
    steps:
        - name: checkout
          uses: actions/checkout@v4
        - name: tryvi install 
          run: |
            sudo apt-get install wget gnupg
            wget -qO - https://aquasecurity.github.io/trivy-repo/deb/public.key | gpg --dearmor | sudo tee /usr/share/keyrings/trivy.gpg > /dev/null
            echo "deb [signed-by=/usr/share/keyrings/trivy.gpg] https://aquasecurity.github.io/trivy-repo/deb generic main" | sudo tee -a /etc/apt/sources.list.d/trivy.list
            sudo apt-get update -y
            sudo apt-get install -y trivy
        - name: trivy scan
          run: trivy fs --format table -o scanreport.json .
        - name: install gitleaks
          uses: gitleaks/gitleaks-action@v2   
        - name: gitleaks detacks
          run: gitleaks detect source . -r gitleaks-report.json -f json
                
         

