name: github actions cicd pipelines

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: echo
        run: echo "testing"
      - name: checkout
        uses: actions/checkout@v6  